{% extends 'base.html.twig' %}

{% set tab = 'show_rental_all_movies' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h1>Películas alquiladas</h1>

            {% if 0 < pager.total %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Fecha de alquiler</th>
                            <th scope="col">Importe</th>
                            <th scope="col">Estado</th>
                            <th scope="col" colspan="3">Películas</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in pager.items %}
                            <tr>
                                <td>{{ order.createdAt|date('d/m/Y') }}</td>
                                <td>{{ order.price }} €</td>
                                <td>{{ order.status }}</td>
                                <td colspan="3">
                                    {% if 0 < order.orderLines %}
                                        <ul>
                                            {% for line in order.orderLines %}
                                                <li>{{ line.movie.title }} ({{ line.quantity }})</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.status == constant('Eventscase\\MovieRental\\Domain\\Order\\Model\\Order::STATUS_RENTEND') %}
                                        <a href="{{ path('apply_transition', {orderId: order.id, transition: constant('Eventscase\\MovieRental\\Domain\\Order\\Model\\Order::TRANSITION_TO_SENT')}) }}" class="btn btn-primary">Enviado</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.status == constant('Eventscase\\MovieRental\\Domain\\Order\\Model\\Order::STATUS_SENT') %}
                                        <a href="{{ path('apply_transition', {orderId: order.id, transition: constant('Eventscase\\MovieRental\\Domain\\Order\\Model\\Order::TRANSITION_TO_RECEIVED')}) }}" class="btn btn-info">Recibido</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.status == constant('Eventscase\\MovieRental\\Domain\\Order\\Model\\Order::STATUS_SENT') %}
                                        <a href="{{ path('apply_transition', {orderId: order.id, transition: constant('Eventscase\\MovieRental\\Domain\\Order\\Model\\Order::TRANSITION_TO_UNRECEIVED')}) }}" class="btn btn-warning">No recibido</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.status == constant('Eventscase\\MovieRental\\Domain\\Order\\Model\\Order::STATUS_DELIVERED') %}
                                        <a href="{{ path('apply_transition', {orderId: order.id, transition: constant('Eventscase\\MovieRental\\Domain\\Order\\Model\\Order::TRANSITION_TO_RETURNED')}) }}" class="btn btn-success">Entregado</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}